<h1><%= @billboard_song.song %> - <%= @song.song %></h1>
<p><%= @song.album %></p>
<%= link_to 'Edit Song', edit_billboard_song_song_path([@billboard_song, @song]) %>
<%= link_to 'Delete Song', [@billboard_song, @song], method: :delete %>
<%= link_to 'Back to Songs', billboard_song_song_path(@billboard_songs) %>
